Project_1/**/*.Rhistory
Project_1/**/*.RData
Project_1/**/*.Rproj.user
Project_1/**/*.Ruserdata
Project_1/**/*.csv
Project_1/**/*.png
Project_1/**/*.pdf
Project_1/**/*.tex

Project_2/**/*.Rhistory
Project_2/**/*.RData
Project_2/**/*.Rproj.user
Project_2/**/*.Ruserdata
Project_2/**/*.csv
Project_2/**/*.png
Project_2/**/*.pdf
Project_2/**/*.tex

Project_3/**/*.Rhistory
Project_3/**/*.RData
Project_3/**/*.Rproj.user
Project_3/**/*.Ruserdata
Project_3/**/*.csv
Project_3/**/*.png
Project_3/**/*.pdf
Project_3/**/*.tex

Project_4/**/*.Rhistory
Project_4/**/*.RData
Project_4/**/*.Rproj.user
Project_4/**/*.Ruserdata
Project_4/**/*.csv
Project_4/**/*.png
Project_4/**/*.pdf
Project_4/**/*.tex
Project_4/**/*.rds
.Rproj.user
